<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Messanger</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script>
		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');
	</script>
</head>
<body>
	<div class="row">
		<div class="col-sm-4">
			{% for profile in profiles %}
			{% if profile.user != request.user %}
			<div class="container users" id="id{{profile.user.id}}" onclick="selectuser({{profile.user.id}},'{{profile.imageURL}}','{{profile.user.username}}','{{profile.full_name}}')">
			  <img src="{{profile.imageURL}}" alt="Avatar" style="width:100%;">
			  <h2>{{profile.user.username}}</h2>
			  <p>message...</p>
			  <span class="time-right">11:00</span>
			</div>
			{% else %}
			<script>
				myimg = "{{profile.imageURL}}"
				myusrnm = "{{profile.user.username}}"
				console.log(myimg,myusrnm)
			</script>
			{% endif %}
			{% endfor %}
		</div>	
		<div class="col-sm-4" >
			<div id="chat">

			</div>
			<input id="message" type="text" placeholder="write message.."><button onclick="sendmessage()">send</button>
		</div>	
		<div class="col-sm-4">

			<h2 style="text-align:center">User Profile Card</h2>

			<div class="card">
			  <img alt="John" style="width:100%" id="pimg">
			  <h1 id="fname">John Doe</h1>
			  <h3 id="usrname">@username</h3>
			  <p class="title">CEO & Founder, Example</p>
			  <p>Harvard University</p>
			  <div style="margin: 24px 0;">
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
			  </div>
			</div>

		</div>		
	</div>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>